* {
  box-sizing: border-box;
}

body {
  background-color: #F8F6F0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#city, #tempreture, #feels, #weather {
  font-weight: bold;
}
